*.env
*.key
*.pem
*.crt
*.secret
*.json
*.sql
*.db
*.dump
*.bak
*.pub
*.pid
*.conf
*.ini
*.keystore
pycache/
venv/
.venv/
node_modules/
dist/
*.log
*.txt
privatekey.txt
privatekeys.txt
config.env
accounts.txt
proxy.txt
